body,
html {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

nav .navbar-brand,
nav .navbar-nav {
  margin: 0.05em 2.5em;
}

.navbar-brand .logoPic {
  height: 2.7em;
}

nav .navbar-nav,
.landingText {
  font-size: 1.5em;
}

nav ul li a {
  color: rgb(0,233,179);
  font-weight: bold;
  margin-right: 2em;
}

nav ul li a:hover,
nav ul li a:active,
.active {
  color: rgb(255, 255, 255);
}

nav ul li .last {
  margin-right: 0;
}

.navbar-nav .nav-link {
  padding: 0.5em 1em;
}

.landingPage {
  height: 100vh;
  position: relative;
  display: flex;
}

.cartoonProfPic {
  position: absolute;
  top: 35%;
  left: 15%;
  z-index: 9;
}

.landingText {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgb(233, 62, 0);
  color: white;
}

.dot,
.landingText p {
  position: relative;
}

.landingText h3 {
  font-size: 2.05rem;
}

.landingText p {
  font-size: 1.1em;
}

.dot:before {
  position: absolute;
  content: "";
  height: 0.17em;
  width: 0.17em;
  bottom: 0.1em;
  right: -8px;
  z-index: 2;
  background: rgb(62,0,233);
}

.workRow {
  margin: 6em 0 3em 0;
}

.workRowTwo {
  position: relative;
}

.workRow h3,
.aboutUs h3 {
  font-size: 2.5em;
  font-weight: 800;
}

.aboutUs h3 {
  margin: 0 0 3em 0;
}

.cardRow {
  margin: 3em 0 2em 0;
  padding: 1.5em;
}

.cardRow h4 {
  margin: 1.5em 0;
  font-weight: bold;
  font-size: 1.9em;
}

.cardRow a {
  text-decoration: none;
}

.cardRow a h4 {
  color: rgb(233, 62, 0, 0.95);
}

.cardRow a h4:hover {
  color: rgb(233, 62, 0);
  padding-left: 0.75em;
  transition: 0.4s ease;
  border-left: 0.5em solid rgba(233, 62, 0, 0.75);
}

.cardRow ul {
  font-weight: 600;
  font-size: 1.15em;
  text-decoration: none;
  list-style: none;
  border-left: 0.2em solid rgba(233, 62, 0, 0.75);
  padding: 0 2.5em;
  line-height: 1.5em;
}

.cardRow p {
  font-size: 1.35em;
  margin-bottom: 1.2em;
  font-weight: 700;
  position: relative;
}

.project {
  position: relative;
  font-size: 1.3em;
}

.cardRow p:before,
.project:before {
  position: absolute;
  content: "";
  height: 0.2em;
  width: 100%;
  bottom: 0.1em;
  z-index: -1;
  background: rgb(0,233,179);
}

.cardRow ul li {
  margin: 0.7em 0;
}

.imgSecondRow {
  -webkit-box-shadow: 1px 0px 10px -1px rgba(121, 121, 121, 0.75);
  -moz-box-shadow: 1px 0px 10px -1px rgba(121, 121, 121, 0.75);
  box-shadow: 1px 0px 10px -1px rgba(121, 121, 121, 0.75);
}

.imgSecondRow:hover {
  transform: scale(1.007);
  transition: 0.3s linear;
  -webkit-box-shadow: 5px 5px 7px -1px rgba(121, 121, 121, 0.8);
  -moz-box-shadow: 5px 5px 7px -1px rgba(121, 121, 121, 0.8);
  box-shadow: 5px 5px 7px -1px rgba(121, 121, 121, 0.8);
}

.landingText h2 {
  font-size: 3.1em;
  font-weight: 700;
  padding: 0 0.5em 1.2em;
  margin-top: 2em;
}

.landingText .btnContact,
.btnForm {
  padding: 0.7em 2.7em;
  font-size: 0.95em;
  font-weight: bolder;
  letter-spacing: 3px;
  border-radius: 0;
  background-color: rgb(62,0,233);
  color: white;
  margin-top: 0.5em;
}

.landingText .btnContact:hover,
.btnForm:hover {
  transition: 0.35s ease-in;
  color: rgb(86, 24, 255);
  background-color: rgb(0,233,179);
}

.btnForm {
  width: 100%;
}

.btnForm:hover {
  background-color: rgb(86, 24, 255);
  color: yellow;
}

.btnAsk {
  background-color: rgba(233, 62, 0, 0.95);
  color: white;
  margin-top: 0.5em;
  width: 100%;
  font-size: 1em;
}
.btnAsk:hover {
  background-color: orangered;
  color: black;
}

.aboutUs {
  text-align: center;
  line-height: 1.8em;
  margin: 1em 0;
}

.aboutDivPara,
.iRow {
  font-size: 1.25em;
  margin-top: 1.5em;
  line-height: 1.55em;
}

.aboutDivPara {
  text-align: left;
  font-weight: 600;
}

.lastDivPara {
  margin-bottom: 0;
}

.firstPara {
  margin-top: 2em;
}

.iRow i {
  font-size: 2.5em;
}

.iRow p {
  margin: 0 auto;
  font-size: 1.15em;
  position: relative;
}

.aboutDivBorder {
  border-left: 0.2em solid lightgray;
  border-right: 0.2em solid lightgray;
  padding: 2em 3em;
  margin: 0 -1.5em;
  height: 100%;
}

.aboutTech {
  padding: 2em 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutTech .firstPara {
  margin-top: 1.55em;
}

.aboutDiv h4 {
  font-size: 2em;
}

.aboutBack {
  position: relative;
}

.avatarPic:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: rgba(233, 62, 0, 0.9);
  height: 100%;
  z-index: -1;
}

#ogSpan {
  color: orangered;
  text-decoration: none;
}

.form {
  padding: 4em 0;
  position: relative;
}

.form:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-linear-gradient(
    280deg,
    #fff 50%,
    rgba(233, 62, 0, 0.9) 50.3%
  );
  height: 60%;
  z-index: -2;
}

.form h3,
.form h5,
.form p {
  text-align: center;
  margin-bottom: 1em;
}

.form p {
  margin-bottom: 2.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.form-group label {
  font-size: 1.2em;
}

.btnBottom {
  padding: 0.3em 1.25em;
  border-radius: 0;
  font-size: 1.35em;
  font-weight: bold;
  width: 40%;
  background-color: rgb(0,233,179);
  color: rgb(86, 24, 255);
}

.btnBottom:hover {
  color: white;
  background-color: rgb(86, 24, 255);
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#textarea {
  width: 100%;
  display: block;
}

.footer-copyright img {
  height: 1.5em;
}

.page-footer {
  padding: 0.3em 1.2em;
  margin: 0 2em;
}

.formName {
  width: 48%;
}

.formEmail {
  float: right;
}

.form-control,
#textarea {
  color: black;
  border: 1px solid rgb(185, 135, 250);
  -webkit-box-shadow: 1px 1px 5px -1px rgba(109, 27, 216, 0.75);
  -moz-box-shadow: 1px 1px 5px -1px rgba(109, 27, 216, 0.75);
  box-shadow: 1px 1px 5px -1px rgba(109, 27, 216, 0.75);
}

.iRow img {
  margin-bottom: 0.5em;
  height: 50px;
}

.aboutTech .library {
  margin-top: 3em;
}

.bgCode {
  background-image: url("../images/mat2.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgDark {
  background-color: rgba(12, 12, 12, 0.4);
}

.landingPage2 {
  background-color: rgba(34, 34, 34, 0.96);
  color: white;
  padding: 3em;
  border-radius: 10px;
  line-height: 1.6em;
}

.landingPage2 .thx {
  font-size: 2.6em;
}

.landingPage2 p {
  font-size: 1.8em;
  padding: 0.5em 0;
  line-height: 1.2em;
}

.landingPage2 a {
  font-size: 1.35em;
  color: orangered;
}

/* ------------------------------- Media -----------------------------  */




@media only screen and (min-width: 1701px) {
  .imgSpace {
    max-width: 80%;
  }

  .aboutDivBorder {
    padding: 3em;
  }
}

@media only screen and (min-width: 2201px) {
  .imgSpace {
    max-width: 65%;
  }
}

@media only screen and (min-width: 2501px) {
  .imgSpace {
    max-width: 55%;
  }
}


@media only screen and (min-width: 1700px) {
  .cartoonProfPic {
    top: 41%;
    left: 20%;
  }
}

@media screen and (max-width: 1709px) {
  .cartoonProfPic {
    top: 40%;
    left: 15%;
  }
}

@media screen and (max-width: 1541px) {
  .cartoonProfPic {
    top: 37%;
    left: 15%;
  }

  .landingText h2 {
    padding: 0 0.5em 1em;
  }
}

@media only screen and (max-width: 1300px) {
  .cartoonProfPic {
    top: 43%;
    left: 9%;
  }

  .landingText h2 {
    padding: 0 0.5em 1.2em;
  }

  .cardRow ul {
    padding-left: 2em;
    padding-right: 0;
  }

  .cardRow p:before {
    width: 100%;
  }

  .btnForm {
    width: 100%;
  }

  .landingText h2 {
    font-size: 2.85em;
  }
}

@media only screen and (max-width: 1050px) and (min-height: 550px) and (max-height: 650px) {
  .cartoonProfPic {
    top: 40%;
    max-width: 27%;
  }

  .landingText h2 {
    font-size: 2.4em;
  }
}

@media only screen and (max-width: 1000px) {
  .cartoonProfPic {
    top: 40%;
    max-width: 35%;
    left: 2%;
  }

  .landingText h2 {
    font-size: 2.2em;
  }

  .landingText h3 {
    font-size: 1.85rem;
  }
  
  .landingText p {
    font-size: 1.1em;
  }
  

  .aboutDivBorder {
    padding: 2em 1em;
  }

  nav .navbar-brand,
  nav .navbar-nav {
    margin: 0.15em 0.5em;
  }

  nav ul li a {
    margin-right: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  nav .navbar-brand,
  button.navbar-toggler.navText {
    margin: 0.15em 0;
    padding: 0.15em;
  }

  nav .navbar-nav {
    margin: 0;
  }

  button.navbar-toggler.navText {
    margin: 0.15em 0;
  }

  .navbar-brand {
    font-size: 1.15em;
  }

  .navbar-toggler {
    font-size: 1.1em;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .nav-item:first-of-type {
    margin-top: 1em;
  }

  nav ul li a {
    background-color: rgb(0,233,179);
    color: rgb(62, 18, 119);
    position: relative;
    padding: 0.1em;
    margin: 0.5em 0;
  }

  nav ul li a:hover,
  nav ul li a:active {
    color: rgb(62, 18, 119);
    transition: 0.35s ease;
    border-left: 0.5em solid rgb(233, 0, 179);
  }

  .active {
    border-left: 0.5em solid rgb(233, 0, 179);
    color: rgb(62, 18, 119);
  }

  .navbar-brand .logoPic {
    height: 2.5em;
  }

  .navbar-nav .nav-link {
    padding: 0.15em 1em;
  }

  .cartoonProfPic {
    top: 89%;
    left: 24%;
    max-width: 52%;
  }

  .landingText h2 {
    font-size: 1.75em;
    padding: 0 0 1.15em 0;
  }

  .landingText p {
    font-size: 0.95em;
    line-height: 1.3em;
  }

  .landingText h3 {
    font-size: 1.6rem;
  }

  .landingText .btnContact {
    padding: 0.5em 1.75em;
    border-radius: 0;
    font-size: 0.8em;
  }

  .workRow h3 {
    margin: 1.5em 0 2em 0;
  }

  .workRow h3,
  .aboutUs h3 {
    font-size: 2.2em;
  }

  .aboutUs h3 {
    margin: -0.75em 0 3em 0;
  }

  .cardRow {
    padding: 1em 2em;
    margin: 0 0 3em 0;
  }

  .cardRowLast {
    margin: 0 0 2em 0;
  }

  .cardRow h4 {
    font-size: 1.7em;
  }

  .cardRow ul {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
  }

  .cardRow ul li {
    margin: 1.25em 0;
  }

  .cardRow p {
    font-size: 1.25em;
  }

  .cardRow p:before {
    width: 100%;
  }

  .aboutDiv {
    padding: 0;
    margin: 3em 0;
  }

  .aboutBack:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(
      280deg,
      #fff 50%,
      rgba(233, 62, 0, 0.9) 50.3%
    );
    height: 47%;
    z-index: -2;
  }

  .aboutDivBorder {
    border-top: 0.2em solid lightgray;
    border-bottom: 0.2em solid lightgray;
    border-left: none;
    border-right: none;
    padding: 2em 1.15em 0 1.15em;
    margin-bottom: 0;
  }

  .page-footer {
    padding: 0.1em 0.2em;
    margin: 0 0.2em;
  }

  .secondIRowP {
    color: white;
    padding-bottom: 2.5em;
  }

  .fa-bars {
    color: yellow;
  }

  .formName {
    width: 100%;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form {
    padding: 2.5em 0 3em;
  }

  .form p {
    margin-bottom: 2em;
  }

  label {
    margin-top: 0.4em;
  }

  .landingPage2 {
    padding: 1em;
  }

  .dot:before {
    right: -6px;
  }

  .aboutDiv h4 {
    font-size: 1.85em;
  }

  .btnForm {
    margin-top: 0.75em;
  }

  .btnAsk {
    padding: 0.5em;
  }

  .btnBottom {
    padding: 0.25em;
    border-radius: 0;
    font-size: 1.15em;
    font-weight: bold;
  }

  .imgSpace {
    max-width: 85%;
  }
}

@media screen and (min-device-width: 550px) and (max-device-width: 767px) {
  .cartoonProfPic {
    top: 78%;
    left: 25%;
  }
}

@media screen and (min-device-width: 440px) and (max-device-width: 549px) {
  .cartoonProfPic {
    top: 85%;
    left: 27%;
    max-width: 46%;
  }
}

@media only screen and (max-width: 321px) {
  .landingText h2 {
    font-size: 1.55em;
    font-weight: 700;
    padding: 0 0 1em 0;
    margin-top: 1.2em;
  }

  .workRow h3 {
    margin: 1em 0 2em 0;
  }

  .workRow h3,
  .aboutUs h3 {
    font-size: 2em;
  }

  .iRow p {
    font-size: 1em;
  }

  .project {
    font-size: 1em;
  }

  .landingPage2 .thx {
    font-size: 2em;
  }

  .landingPage2 p {
    font-size: 1.4em;
  }

  .landingPage2 a {
    font-size: 1.15em;
  }
}
